.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

:root {
  --bg-main: rgb(153, 226, 218);

  /* Text colors */
  --text-main: rgb(14, 28, 55);
  --text-muted: rgba(90, 110, 130, 0.7);
  --white: #ffffff;

  /* Button colors */
  --btn: rgba(2, 180, 180, 1);
  --btn-hover: rgba(1, 150, 150, 1);

  /* Contrast */
  --contrast: #ff6b6b;
}

h1 {
  color: var(--text-main);
  font-size: 5rem;
  text-align: center;
}

h2 {
  padding-top: 1vh;
  color: var(--text-main);
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

p {
  color: var(--text-main);
  font-size: 1.2em;
}

label {
  margin-bottom: 2vh;
  color: var(--text-main);
  font-size: 1.5rem;
}

input {
  padding: 6px 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 25vw;
  height: 30px;
}

select {
  padding: 0.5rem;
  margin-bottom: 1rem;
}


.book-now-span {
  font-weight: bold;
  cursor: pointer;
}

.std-background {
  background-color: var(--bg-main);
}

.no-margin {
  margin: 0px;
}

.form-btn {
  width: 100px;
  height: 40px;
}

/* gen4 */
.label-input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 4vh;
}

/*NAVS*/

.nav-bar {
  background-color: rgba(64, 224, 208);
  height: 3rem;
  z-index: 10;
}

/* FOOTERS */

footer {
  background-color: rgba(64, 224, 208);
  color: var(--text-main);
  padding: 2rem;
  text-align: center;
  height: 20vh;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer-links a {
  color: navy;
  margin: 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.footer-links a:hover {
  text-decoration: none;
  color: var(--contrast)
}

.footer-social a {
  margin: 1rem;
  color: white;
  font-size: 1.5rem;
}

.footer-social a:hover {
  color: var(--contrast);
}

.footer-bottom {
  margin-top: 1rem;
  font-size: 0.85rem;
  opacity: 0.8;
}

@media (min-width: 600px) {
  .footer-top {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-links {
    display: flex;
    flex-wrap: wrap;
  }
}

/*Homepage*/

.main-video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.home-main-div {
  background-color: var(--bg-main);
}

.main-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0.5;
}

.video-overlay {
  padding-top: 4vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(64, 224, 208, 0.6);
  z-index: 1;
  text-align: center;

}

.home-slogan {
  font-size: 2.4rem;
  text-align: center;

  /* padding: 1rem; */
}

.about-us-div {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
}

.about-us-text {
  padding-inline: 10px;
  text-align: justify;
  font-size: 1.2rem;

}

.about-us-image {
  padding-inline: 10px;
  width: 40vw;
}

.locations-main-div {
  padding-top: 4vh;
  text-align: center;
}

.locations {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: -4vh;
}

.treatments-main-div {
  align-content: center;
  text-align: center;
}

.treatments {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-content: center;
  flex-wrap: wrap;
}

a {
  color: var(--text-main);
  font-size: 2rem;
  padding: 0.5rem;
  text-decoration: none;
}

a:hover {
  color: rgba(255, 0, 0)
}

.btn {
  background-color: var(--btn);
  border-radius: 10px;
  color: var(--text-main);
  cursor: pointer;
  font-size: 1.2rem;
}

.btn:hover {
  background-color: var(--btn-hover);
}

.link-text-login {
  font-size: 2rem;

  position: absolute;
  right: 15vw;
  text-align: right;
  width: fit-content;
  max-width: 60vw;
  white-space: normal;
}

.book-now-btn {
  background-color: rgba(24, 48, 96) !important;
  color: white;
  width: 9rem;
  height: 3rem;
  top: 0;
  position: fixed;
  bottom: 1.5rem;
  right: 2vw;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-size: 1rem;
  z-index: 999;
  cursor: pointer;
  transition: background-color 0.4s ease;
  text-transform: uppercase;
}

.book-now-btn:hover {
  background-color: rgba(255, 0, 0, 1);
}

/* TreatmentCard*/

.treatment-card-div {
  display: block;
  text-decoration: none;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  color: inherit;
  width: 20vw;
  height: 30vw;
  margin: auto;
}

.treatment-card-a {
  align-items: center;
  text-align: center;
  align-content: center;
  padding: 2px;
}

.treatment-card-image {
  object-fit: cover;
  width: 15vw;
  border-radius: 8px;
  display: block;
  margin: auto;
}

/* Clinicians page*/

.clinicians-main-div {
  background-color: var(--bg-main);
}


/*CliniciansProfile*/
.profile-main {
  display: flex;
  align-items: center;
  padding-inline: 10rem;
  gap: 2rem;
  flex-wrap: wrap;
  border-radius: 40px;
  margin-top: 4vh;
}

.clinician-opening-div {
  margin: 2vw;
}

.image-left {
  flex-direction: row;
  background-color: rgba(120, 226, 218);
}

.image-right {
  flex-direction: row-reverse;
}

.profile-image-div {
  flex: 1;
  text-align: center;
}

.profile-image {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
}

.profile-text-div {
  flex: 1;
}

.profile-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.profile-description {
  font-size: 1rem;
  color: var(--text-main)
}


/** login */

.login-main-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-main);
}

/* need exp */

.booking-treatment-main-div {
  max-width: 900px;
  margin: auto;
  padding: 1rem;
}


.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.table-container {
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ccc;
  padding: 0.5rem;
  text-align: center;
}

td {
  height: 50px;
}

.booked {
  background-color: #f8d7da;
  color: #721c24;
  cursor: not-allowed;
}

.available {
  background-color: #d4edda;
  cursor: pointer;
}

.available:hover {
  background-color: #c3e6cb;
}

.selected {
  background-color: #90ee90;
}

td {
  border: 1px solid #ccc;
  height: 30px;
  text-align: center;
}

.modal {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.modal textarea {
  width: 100%;
  height: 80px;
  margin-top: 0.5rem;
}

.modal-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.modal button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
